/* don't touch this */
.pane {
  width: 38%; 
  float: left; 
  border: 1px solid #000;
  padding: 5px;
  margin-right: 20px;
}

ul, ol {
  list-style-type: none;
}
/* don't touch this */

.pane-short .heading {
  border-color: red; 
  border-width: 1px;
  border-style: dashed;

  padding: 5px 5px 5px 15px; 
}

.pane-short .container {
  border-color: gray;
  border-width: 2px;
  border-style: solid;

  margin: 18px 22px;
  padding: 8px; 
}

.pane-short .para {
  border-width: 1px; 
  border-style: dotted; 
  border-color: red;

  padding: 3px;
}

.pane-short .short-para {
  border-width: 1px; 
  border-style: solid; 
  border-color: wheat;

  width: 50%; 
  margin: 15px auto;
 
  padding: 8px;
}

.pane-short .container p {
  border-width: 2px; 
  border-style: dashed; 
  border-color: brown;

  padding: 5px 2px;
}

.pane-short .anchor-list {
  border-width: 1px; 
  border-style: solid; 
  border-color: royalblue;

  overflow: hidden;

  padding: 12px 0 6px 40px;
  margin: 16px 0;
}

.pane-short .anchor-list li {
  border-width: 1px; 
  border-style: dashed; 
  border-color: green;

  float: left;

  padding: 0 5px;
  margin: 0 5px;

}

.pane-short .list li {
  border-width: 2px; 
  border-style: dotted; 
  border-color: blueviolet;

  margin: 2px 25% 8px 15px;

  padding: 3px;
}




